:root{
    --maincolor:#0000ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear; 
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.header{
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
  
}
.header #logo img{
    width: 80px;
}
.header .navbar a{
    font-size: 1.7rem;
    margin-left: 1.5rem;
    color: var(--maincolor);

}
.header .navbar a:hover{
   color: black;
}
.header .icons{
    font-size: 2rem;
   
}

.header .icons div{
    margin-left: 1rem;
    cursor: pointer;
}
.header .icons div:hover{
    color: var(--maincolor);
}
.header .icons #menu-bars{
    display: none;
}

.main-background{
    background: url(images/ipari.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.book-section{
    padding: 2rem 7%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-book{
    width: 100%;
    background: black;
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.inner-book input{
    padding: 1rem 2rem;
    margin: .5rem 0;

}
.book-btn{
    padding: 1.1rem 2rem;
    background: var(--maincolor);

}
.book-btn a{
    color: white;
    font-size: 1.5rem;
}
.main-hotel{
    padding: 2rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.award-winning-hotel h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 2rem ;
}
.award-winning-hotel h1 span{
    color: var(--maincolor);
}
.inner-award{
    flex: 1 1 300px;
}
.inner-award h2,p{
    text-align: center;
}
.inner-award h2{
    font-size: 30px;
    padding: 1rem;
}
.inner-award p{
    font-size: 1.7rem;
    padding: 2rem;
}
.inner-award img{
    width: 100%;
}
.gallery{
    padding: 2rem 7%;

}
.gallery h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 2rem;
}
.gallery h1 span{
    color: var(--maincolor);
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-gallery img{
    width: 100%;
}

@media (max-width:768px) {
    html{
        font-size: 50%;
    }

    
}


  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }

  @import url('https://fonts.googleapis.com/css?family=PT+Sans');

  
  form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: auto;
  }
  
  @media only screen and (max-width: 600px) {
    form {
      width: 100%;
    }
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4caf4f96;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
    font-size: 16px;
  }
  
  footer ul {
    margin: 0;
    padding: 0;
    font-size: 13px;
    list-style: none;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  